<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="honor.css">
    <title>Document</title>
    <script src="lib/jquery.js"></script>
    <script src="lib/echarts.js"></script>
   	<script src="lib/china.js"></script>
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=DzwjAGjkNClPbkgLyi5wPqU3Sx5cLUaM
"></script>
    <script type="text/javascript" src="extension/bmap.js"></script>
</head>
<body>
    <div class="all_container">
        <div class="container">
            <!-- 顶部 -->
            <header>
                <div class="header-lt">Ming</div>
                <div class="header-gt">
                    <div class="header-menu">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">Artical</a></li>
                            <li><a href="myImg.html">Diary</a></li>
                            <li><a href="">Comment</a></li>
                            <li><a href="">About</a></li>
                        </ul>
                    </div>
                </div>
            </header>

            <!-- canvas -->
            <section class="sec-info">
                <canvas id="c1"></canvas>
                <div class="infoDiv">
                    There's more to life than technology.poetry and distance
                </div>
                 <div class="person-info">
                    <div class="head-img">
                        <img src="0.jpg" alt="">
                    </div>
                    <p class="person-msg">
                        <span class="person-name">流川枫</span>
                    </p>
                    <p class="person-msg2">
                        <span class="person-star">金牛座</span><i class="person-sex">♂</i>
                        <span class="person-follow">关注：<span>20万+</span></span>
                    </p>
                </div>
            </section>
            <!-- 中间主体 -->
            <section class="sec-content">
                <!-- 主体左半部分 -->
                <div class="content-lt">
                    <!-- 上 -->
                    <div class="content-lt-top">
                        <!-- 轮播 -->
                        <div class="swiper"
                        @mouseenter="stopInterval" @mouseout="startInterval">
                            <div v-for="(p,i) in imglist" :key="i" class="swiper-img" :style="{opacity:(i+1)==n?'1':'0'}">
                                <img :src="p" alt="">
                            </div>
                        </div>
                        <!-- 提示小标 -->
                        <div class="swiper-tip">
                            <span v-for="(p,j) in imglist" :key="j" :style="{boxShadow:(j+1)==n?'0 0 5px 2px #ff0':''}"></span>
                        </div>
                        <!-- 翻页按钮 -->
                        <div class="swipe-lt" @mouseenter="stopInterval" @mouseout="startInterval" @click="swipePrev">&lt;</div>
                        <div class="swipe-gt" @mouseenter="stopInterval" @mouseout="startInterval" @click="swipeNext">&gt;</div>
                    </div>
                    <!-- 中 -->
                    <div class="content-lt-ctn">
                        <!-- 新闻列表 -->
                        <div class="content-news">
                            <ul class="news-menu" @click.prevent="newsClick($event)">
                                <li><a data-id="list1" href="" @click.prevent="" v-text="i18n.project_term_daily_label"></a></li>
                                <li><a data-id="list2" href="" @click.prevent="" v-text="i18n.project_term_sketch_label">随笔</a></li>
                                <li><a data-id="list3" href="" @click.prevent="" v-text="i18n.project_term_technique_label">技术</a></li>
                                <li><a data-id="list4" href="" @click.prevent="" v-text="i18n.project_term_other_label">其他</a></li>
                            </ul>
							<!-- 日常 -->
                            <div id="list1" :style="{display: ('list1' == listitem)?'block':'none'}" class="news-list">
                                <div class="list-item" v-for="item in diaryData">
                                    <div class="list-lt">
                                    	<span class="list-lt-day">
                                    	{{item.time | timeFormate('day')}}
                                    	</span>
                                    	<span class="list-lt-month">/{{item.time | timeFormate('month')}}</span>
                                    </div>
                                    <div class="list-gt">
                                    	<div class="list-gt-ctn">
											<span v-text="item.content"></span>
                                    	</div>
                                    	<div class="list-gt-weather">
                                    		<span class="weather" :class="item.color" v-text="item.weather"></span>
                                    	</div>
                                    	<span class="list-gt-year" v-text="item.time"></span>
                                    </div>
                                </div>
                            </div>
							<!-- 随笔 -->
                            <div id="list2" :style="{display: ('list2' == listitem)?'block':'none'}" class="news-list">
                                <div class="artical-item" v-for="item in articalData">
                                    <div class="artical-title">
                                    	 <h2 style="margin:8px 0;display: inline-block;" v-text="item.title"></h2> 
                                    	 <span style="margin-left:20px;font-size: 14px;color: #555" v-text="item.author"></span>
                                    	 <p style="font-size: 14px;font-family:Comic Sans MS;color: #666;" v-text="item.subtitle"></p>
                                    </div>
                                    <div class="artical-ctn">
                                    	<span v-html="item.content"></span>
                                    </div>
                                    <div class="artical-foot">
                                    	<span v-text="'Time：'+item.time"></span>
                                    </div>
                                </div>
                            </div>
							<!-- 技术 -->
                            <div id="list3" :style="{display: ('list3' == listitem)?'block':'none'}" class="news-list">
                                <div class="technical-item">
                                    <div class="technical-card" style="font-size: 30px; text-align: center; width: 300px;height: 300px; background-image:linear-gradient(to bottom, #fff,#0a0);">
                                    	<p><span style="font-size:100px;color: #0a0;font-weight: bold;">V</span>ue</p>
                                    	<p><span style="font-size: 20px;">vue 2.5.x</span></p>
                                    	<p class="tag"><span class="little-tag tag-clr3" >axios</span><span class="little-tag tag-clr4">v-Router</span><span class="little-tag tag-clr6">v-Vuex</span></p>
                                    </div>
                                    <div class="technical-card" style="font-size: 30px; text-align: center; height: 350px; width: 240px;background-image:linear-gradient(to top, #fff,#a00);">
                                    	<p><span style="font-size:100px;color: #a00;font-weight: bold;">A</span>ngular</p>
                                    	<p><span style="font-size: 20px;">angular 1.0.x</span></p>
                                    	<p class="tag"><span class="little-tag tag-clr7">grunt</span><span class="little-tag"></span>
                                    </div>
                                    <div class="technical-card" style="font-size: 30px; text-align: center;width: 300px;background-image:linear-gradient(-45deg, #fff 30%,#0aa);">
                                    	<p><span style="font-size:100px;color: #0aa;font-weight: bold;">N</span>ode.js</p>
                                    	<p class="tag"><span class="little-tag  tag-clr5">webpack</span><span class="little-tag  tag-clr4">ES6</span><span class="little-tag tag-clr2">npm</span></p>
                                    </div>
                                    <div class="technical-card" style="font-size: 30px; text-align: center;">
                                    	<p><span style="font-size:100px;color: #a0a;font-weight: bold;">G</span>it</p>
                                    	<p class="tag"><span class="little-tag tag-clr8">SVN</span></p>
                                    </div>
                                </div>
	                            <div class="technical-item">
	                                <div class="artical-item" v-for="item in technicalData">
	                                    <div class="artical-title">
	                                    	 <h2 style="margin:8px 0;display: inline-block;" v-text="item.title"></h2> 
	                                    	 <span style="margin-left:20px;font-size: 14px;color: #555" v-text="item.author"></span>
	                                    	 <p style="font-size: 14px;font-family:Comic Sans MS;color: #666;" v-text="item.subtitle"></p>
	                                    </div>
	                                    <div class="artical-ctn">
	                                    	<span v-html="item.content"></span>
	                                    </div>
	                                    <div class="artical-foot">
	                                    	<span style="padding-right: 20px;" v-text="'Time：'+item.time"></span>
	                                    </div>
                                	</div>
	                            </div>
                            </div>
							<!-- 其他 -->
                            <div id="list4" :style="{display: ('list4' == listitem)?'block':'none'}"  class="news-list">
                                <div class="charts-item">
                                	<div id="myCharts"></div>
                                </div>
                                <div class="charts-item">
                                	<div id="myCharts2"></div>
                                </div>
                            </div>
                            <!-- 翻页 -->
                            <!-- <div class="page-btn">
                                <a href="" class="listbtn">&lt;</a>
                                <a href="" class="listbtn">1</a>
                                <a href="" class="listbtn">2</a>
                                <a href="" class="listbtn">3</a>
                                <a href="" class="listbtn">···</a>
                                <a href="" class="listbtn">8</a>
                                <a href="" class="listbtn">9</a>
                                <a href="" class="listbtn">10</a>
                                <a href="" class="listbtn">&gt;</a>
                            </div> -->
                        </div>
                    </div>
                    <!-- 下 -->
                    <div class="content-lt-btm">
                        <!-- 商品 -->
                    </div>
                </div>

                <!-- 主体右半部分 -->
                <div class="content-gt">
                    <!-- 标题 -->
                    <div class="gt-title">
                        <span style="font-size: 20px;color: #fff">恬淡·闲适·宁静</span>
                    </div>
                    <div class="card-container">
                    	 <div class="card-item">
                        <div class="card-panel" v-for="item in cardDate">
                            <div class="card-title" v-text="item.title"></div>
                            <div class="card-img">
                                <img :src="item.imgSrc" alt="">
                            </div>
                            <div class="card-foot">
                                <a href="" style="font-size: 12px;">生活就是一杯沁人心脾的青茗……</a>
                                <a href=""></a>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </section>

            <!-- 底部信息 -->
            <footer>
                <div class="foot">
                    <div class="foot-top">
                        <div class="foot-lt"></div>
                        <div class="foot-ctn">
                            <div class="foot-list">
                                <span>apologize</span>
                                <span>apologize</span>
                                <span>apologize</span>
                                <span>apologize</span>
                            </div>
                        </div>
                        <div class="foot-gt"></div>
                    </div>
                    <div class="foot-btm"></div>
                </div>
            </footer>
        </div>
    </div>
</body>
<script src="airMap.js"></script>
<script src="vue.js"></script>
<script src="i18n.js"></script>
<script src="honor.js"></script>

</html>
